<div class="toolbar" role="banner">
  <a routerLink="/home">
    <img width="40" alt="CodeCollab Logo" src="assets\images\logo.svg" />
  </a>

  <span>CodeCollab</span>
  <div class="spacer1"></div>

  <div class="card-container" *ngIf="isUserAuthenticated">
    <a class="card" routerLink="/create">
      <span>Create New Document</span>
    </a>
  </div>

  <div class="spacer"></div>
  <div class="my-account" (click)="getAccountInfo()">
    <img src="assets\images\user-generic-icon.svg" width="26" />
    <div class="spacer1"></div>
    <span class="text">My Account</span>
  </div>
  <div class="spacer1"></div>
</div>

<div class="content" role="main">
  <div class="online-now">
    <h2>Online Now:</h2>
  </div>

  <div class="document-container">
    <a class="document">
      <span>Document 1</span>
    </a>
    <a class="document">
      <span>Document 2</span>
    </a>
    <a class="document">
      <span>Document 3</span>
    </a>
    <a class="document">
      <span>Document 4</span>
    </a>
    <a class="document">
      <span>Document 5</span>
    </a>
  </div>
</div>
