<router-outlet></router-outlet>
<div class="toolbar" role="banner">
  <a href = "/home">
    <img
      width="40"
      alt="CodeCollab Logo"
      src="assets\images\logo.svg"
    />
    </a>
    <span>CodeCollab</span>
      <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="card-container">
    <a class="card" target="_self" rel="noopener" href="/create">
      <span>Create New Document</span>
    </a>

    <div class = "my-account">
      <span>My Account</span>
    </div>

  </div>

  <div class=" online-now">
    <h2>Online Now:</h2>
  </div>

</div>





