<!-- <router-outlet></router-outlet> -->
<div class="toolbar" role="banner">
  <a routerLink="/home">
    <img width="40" alt="CodeCollab Logo" src="assets\images\logo.svg" />
  </a>

  <span>CodeCollab</span>
  <div class="spacer1"></div>

  <a>
    <div class="card-container">
      <a class="card" routerLink="/create">
        <span>Create New Document</span>
      </a>
    </div>
  </a>
  <div class="spacer"></div>
  <a>
    <div class = "my-account">
      <img
        src="assets\images\user-generic-icon.svg"
      />
      <span class = "text">My Account</span>
    </div>
  </a>
  <div class="spacer1"></div>
</div>

<div class="content" role="main">
  <div class="online-now">
    <h2>Online Now:</h2>
  </div>
</div>
