<!-- <router-outlet></router-outlet> -->
<div class="toolbar" role="banner">
  <a routerLink="/home">
    <img width="40" alt="CodeCollab Logo" src="assets\images\logo.svg" />
  </a>
  <span>CodeCollab</span>
  <div class="spacer"></div>
</div>

<div class="createTitle">
  <h1>Create a Document</h1>
</div>

<div class="content" role="main">
  <div class="card-container">
    <a class="card" routerLink="/create">
      <span>Upload a File</span>
    </a>
  </div>
</div>

<div class="content" role="main">
  <div class="card-container">
    <a class="card" routerLink="/view">
      <span>View File</span>
    </a>
  </div>
</div>
