<!-- <router-outlet></router-outlet> -->
<!DOCTYPE html>
<html lang="en">
<div class="toolbar" role="banner">
  <a routerLink="/home">
    <img width="40" alt="CodeCollab Logo" src="assets\images\logo.svg" />
  </a>
  <span>CodeCollab</span>

  <div class="spacer1"></div>
  
  <div class="share-button-container">
    <a class="card" style="background-color: #ffffff; border-radius: 12px;">
      <div class = "link-icon">
        <a>
          <i class="pi pi-link"></i>
        </a>
      </div>
      <span style="color: navy;font-size: larger; font-weight: 700;">Share Board</span>
    </a>
  </div>

  <div class="spacer1"></div>

  <div class="delete-button-container">
    <button class="card" type="button" style="background-color: #ffffff; border-radius: 12px;">
      <div class = "trash-icon">
        <a>
          <i class="pi pi-trash"></i>
        </a>
      </div>
      <span style="color: navy;font-size: larger; font-weight: 700;">Delete Board</span>
    </button>
  </div>
  
  
  <div class="spacer"></div>
  <a>
    <div class = "my-account">
      <img
        src="assets\images\user-generic-icon.svg"
        width=""
      />
      <div class="spacer1"></div>
      <span class = "text">My Account</span>
    </div>
  </a>
  <div class="spacer1"></div>
</div>

<div class="content" role="main">
  <div class="card-container">
    <a class="card" routerLink="../create">
      <span>Current Document: </span>
    </a>
  </div>

  <div class="chat-box">
    <h2>CHAT:</h2>
    <div class = "inner-online">
      <div class ="chat-container">
        <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
        <div class="chat">
          <span>This code sucks. Have you tried being better at coding? Get a clue.</span>
        </div>
      </div>
      <div class ="chat-container">
        <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
        <div class="chat"></div>
      </div>
      <div class ="chat-container">
        <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
        <div class="chat"></div>
      </div>
      <div class ="chat-container">
        <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
        <div class="chat"></div>
      </div>
      <div class ="chat-container">
        <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
        <div class="chat"></div>
      </div>
      <div class ="chat-container">
        <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
        <div class="chat"></div>
      </div>
      <div class ="my-chat-container">
        <div class="my-chat"></div>
        <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
      </div>
    </div>
    <div class="message-input"></div>
  </div>

  <div class = "comment-draft-cont">
    <div class = "user-cont">
      <img 
        width = "30"
        src="assets\images\user-generic-icon.svg">
        <span>Username</span>
    </div>
    
    <div class = "comment"></div>
    <div class = "comment-buttons-cont">
      <span class="comment-button">Comment</span>
      <span class="cancel-button">Cancel</span>
    </div>
    
  </div>

  <div class="delete-confirm-cont">
    <p>Are you sure you want to delete this document?</p>
    <p class="confirm-delete">Confirm</p> <p class="cancel-delete">Cancel</p>
  </div>

</div>

<script>
  
</script>