<!-- <router-outlet></router-outlet> -->
<div class="toolbar" role="banner">
  <a routerLink="/home">
    <img width="40" alt="CodeCollab Logo" src="assets\images\logo.svg" />
  </a>
  <span>CodeCollab</span>

  <div class="spacer1"></div>
  
  <div class="share-button-container">
    <a class="card" style="background-color: #ffffff; border-radius: 12px;">
      <div class = "link-icon">
        <a>
          <i class="pi pi-link"></i>
        </a>
      </div>
      <span style="color: navy;font-size: larger; font-weight: 700;">Share Board</span>
    </a>
  </div>
  
  
  <div class="spacer"></div>
  <a>
    <div class = "my-account">
      <img
        src="assets\images\user-generic-icon.svg"
      />
      <div class="spacer1"></div>
      <span class = "text">My Account</span>
    </div>
  </a>
  <div class="spacer1"></div>
</div>

<div class="content" role="main">
  <div class="card-container">
    <a class="card" routerLink="../create">
      <span>Current Document: </span>
    </a>
  </div>

  <div class="online-now">
    <h2>CHAT:</h2>
    <div class = "inner-online">
      
    </div>
  </div>
</div>
